{% extends "base.html" %}

{% block content %}
    <div class="table-container">
        <table>

            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th></th>
            </tr>

            {% for item in items %}

            <tr>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>

                <td>
                    <div class="actions">
                        <a class="btn btn-secondary" href="{% url 'item_update' item.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'item_delete' item.id %}">Excluir</a>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </table>
    </div>

{% endblock %}